body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#canvas-container {
    position: relative;
    width: 960px;
    height: 540px;
}

canvas {
    display: block;
}

